.maincontainer{
  background-color:#FFFDD0;
}
  .head1{
    font-family:Cinzel;
    text-align:center;
    color:white;
    font-size:50px;
  margin-bottom: 10px;
  }
  .head2{
    text-align: center;
    margin-top:0px;
    color:white;
    font-size: 20px;
  }
  .p1{
    font-family: Cinzel;
    font-weight:bold;
    color:white;
    text-align: center;
  }
  *{
    text-decoration: none;
  }
  .wholenav{
    background-color:navy;
    padding:10px 20px;
   
 
}
.wholenav nav{
display:flex;
  align-items: center;
  justify-content: space-between;

}
.wholenav nav ul{
  display:flex;
  list-style:none;
}
.wholenav nav button{
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  background-color:burlywood;
  border-radius: 10px;
  height: 40px;
}
.wholenav nav ul li {
  display: flex;
}

.wholenav nav ul a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white
}
.wholenav nav ul a:hover{
  background-color:blue;

}
.logo{
  color:silver;
  font-weight:30%;
  font-size: 200%;
}
.hero{
  min-height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('herocar.jpg');
   background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
}
.stats{
  background-color: navy;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:30px;
  padding: 0px 200px;
}
.stat{
  text-align: center;
  padding: 1px 10px;
  color:white;
}
  .stat h4 {
  font-size: 20px;
  color: burlywood;
}

.stat p {
  font-size: 0.8rem;
  letter-spacing: 3px;}
  
  
  .statlogo{
text-align:left;
flex:1;
font-family: Cinzel;
color:silver;
font-size: 23px;
  }

  .featured{
    padding:15px;
    text-align:center;
  }
.featured-head{
  color:navy;
  font-size:36px;
  margin-bottom: 0px;
}
.featured-subhead{
  color:navy;
  font-size:25px;
}
.car-grid{
  display: flex;
  gap: 30px;
  justify-content:center;
  flex-wrap: wrap;
}
.car-card{
  background-color:white;
  border-radius: 10px;
  width:45%;
  border:1px solid black;
}
.car-img{
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.car-body{
  padding: 15px;

}
.car-name{
  color:navy;
  font-family: Cinzel;
  font-size:20px;
  background-color: whitesmoke;
}
.car-year{
  color:black;
  font-size: 19px;

}
.car-info{
  color:black;
  font-size: 16px;
}
.lastsection{
  text-align: center;
  background-color:navy;

}
.endheader{
  color:white;
  font-family: Cinzel;
  font-size:24px;
}
.endparagraph{
  color:white;
  font-size:18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 35px;
}